@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Outfit:wght@300&display=swap');
body{
    background-color: rgb(22, 22, 22);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    text-align: center;
}
.h1-titulo{
    padding: 5px;
    margin: 5px;
}

section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main{
    font-family: 'Open Sans', sans-serif;
    font-size:15px;

    display: flex;
    
    width: fit-content;
    
    margin: auto;

    background-color: rgb(229, 255, 212);
    
    border-radius: 20px;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
}

.info{
    width: 12vw;
}

#div-apples{
    background-color: rgb(255, 212, 212);
}

h3{
    padding: 5px;
    margin: 0px;
}

footer{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 86, 100, 0.842);
}


#stage{
    padding-bottom: 10px;
}

#div-score{
    margin: 8px 0px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

#scoreNumber{
    margin-right: 240px;
}

p{
    padding: 0;
    margin: 0;
}